.home{
    padding: 109px 0 17px;
    position: relative;

    &::before{
        content: url("../images/home/homebg.png");
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__media{
        cursor: pointer;
        display: flex;
        column-gap: 40px;
        align-items: center;
    }
}